<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/inventory_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.inventory.MainActivity"
            android:theme="@style/noTitle"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.inventory.MainScreenActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.inventory.EditorActivity"
            android:parentActivityName="com.example.inventory.MainScreenActivity" />
        <activity
            android:name="com.example.inventory.ItemActivity"
            android:parentActivityName="com.example.inventory.MainScreenActivity"
            android:theme="@style/noTitle" />

        <provider
            android:name="com.example.inventory.data.ItemProvider"
            android:authorities="com.example.inventory"
            android:exported="false" />

    </application>

</manifest>